<div class='auth'>
  <a class='logoutLink' href="/logout">Logout</a>
</div>

<div class='formContainer'>
  <h1>Add Image to Gallery</h1>
  <form class='newForm' method='post' action="/gallery/">
    Link to image:
    <input type="text" name='link' placeholder="Url">
    Author of Image:
    <input type="text" name='author' placeholder="Author">
    Description:
    <textarea name="description" cols="30" rows="5"></textarea>
    <input type="submit">
  </form>
</div>