<form method='get' action="/logout">
  <button>Logout</button>
</form>

<div class='newContainer'>
  <h1>Add Image to Gallery</h1>
  <form method='post' action="/gallery/">
    <input type="text" name='link'>
  </form>
</div>