<div class='auth'>
  {{#if user}}
  <a class='addImg' href="/gallery/new">Add Image</a>
  <a class='logoutLink' href="/logout">Logout</a>
  {{else}}
  <a class='loginLink' href="/login">Login</a>
  <a class='registerLink' href="/register">Register</a>
  {{/if}}
</div>
<img class='imgBanner' src="https://valuedrafter.files.wordpress.com/2015/03/cropped-cropped-divination_mtg_bng_willmurai_9101.jpg"
  alt="">
<div class='gallery'>
  {{#each list}}
  <div class='mainImg'>
    <a href='/gallery/{{id}}'>
      <img src="{{link}}" alt="">
    </a>
    <div>{{author}}</div>
  </div>
  {{/each}}
</div>